<a href="https://colab.research.google.com/github/Advaiti/bert/blob/master/Pandas_Bootcamp_Graded_Hands_on_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Overview

Dear Learner, 

Congratulations, you have studied Pandas all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

For the tasks, we'll be using the COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University. You can find the orginal dataset here: https://github.com/CSSEGISandData/COVID-19


**Dataset Link**: https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv

**Resources**: You may consider referring to this resource while solving this project: https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

**Information about the dataset:**

There are 8 features:

* SNo: Serial number
* ObservationDate: Date of observation of the cases (format: MM/DD/YYYY)
* Province/State: Province or State of the country where cases were observed
* Country/Region: Country where cases were observed
* Last Update: Time in UTC at which the row is updated for the given province or country. (It is not in a standard format)
* Confirmed: Cumulative number of confirmed cases till the date
* Deaths: Cumulative number of deaths till the date
* Recovered: Cumulative number of recovered cases till date

**Instruction for the learner:** 
* Recommended to revise 'groupby()' method of pandas
* Recommended to understand the word **'Cummulative'** properly for three features - 'Confirmed', 'Recovered' and 'Deaths'.
* Please note that the dtype of datetime columns are of object, convert them to datetime as shown below:

###**Task 1**

* Read the dataset and name is as `df`
* Print first 10 observations of the dataset
* Check for the data types of the all the variables in the dataset
* Convert columns ['ObservationDate'] and ['Last Update'] to from object to datatime data type.

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv")

In [6]:
df.head(10)

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0
5    6      01/22/2020      Guangdong  ...      26.0    0.0        0.0
6    7      01/22/2020        Guangxi  ...       2.0    0.0        0.0
7    8      01/22/2020        Guizhou  ...       1.0    0.0        0.0
8    9      01/22/2020         Hainan  ...       4.0    0.0        0.0
9   10      01/22/2020          Hebei  ...       1.0    0.0        0.0

[10 rows x 8 columns]

In [7]:
df.dtypes

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [8]:
df['ObservationDate']= pd.to_datetime(df['ObservationDate'])

In [10]:
df['Last Update']= pd.to_datetime(df['Last Update'])

In [11]:
df.dtypes

SNo                         int64
ObservationDate    datetime64[ns]
Province/State             object
Country/Region             object
Last Update        datetime64[ns]
Confirmed                 float64
Deaths                    float64
Recovered                 float64
dtype: object

In [29]:
df.shape

(40805, 8)

In [13]:
df

         SNo ObservationDate      Province/State  ... Confirmed Deaths  Recovered
0          1      2020-01-22               Anhui  ...       1.0    0.0        0.0
1          2      2020-01-22             Beijing  ...      14.0    0.0        0.0
2          3      2020-01-22           Chongqing  ...       6.0    0.0        0.0
3          4      2020-01-22              Fujian  ...       1.0    0.0        0.0
4          5      2020-01-22               Gansu  ...       0.0    0.0        0.0
...      ...             ...                 ...  ...       ...    ...        ...
40800  40801      2020-06-12           Zacatecas  ...     501.0   55.0      279.0
40801  40802      2020-06-12  Zakarpattia Oblast  ...    1506.0   38.0      675.0
40802  40803      2020-06-12   Zaporizhia Oblast  ...     515.0   15.0      322.0
40803  40804      2020-06-12            Zhejiang  ...    1268.0    1.0     1267.0
40804  40805      2020-06-12     Zhytomyr Oblast  ...    1013.0   17.0      527.0

[40805 rows x 8 columns]

### **Task 2**
* Create a subset of the data `df`, only taking observations which was **last updated** on **2020-06-13 03:33:14** and name this dataframe as **updated_data**. 
* Print the total no. of observations and unique country records in **updated_data**

In [27]:
updated_data = df.loc[df['Last Update']=="2020-06-13 03:33:14"]

In [28]:
updated_data

         SNo ObservationDate      Province/State  ... Confirmed Deaths  Recovered
40076  40077      2020-06-12                 NaN  ...   23546.0  446.0     3928.0
40077  40078      2020-06-12                 NaN  ...    1416.0   36.0     1034.0
40078  40079      2020-06-12                 NaN  ...   10698.0  751.0     7322.0
40079  40080      2020-06-12                 NaN  ...     853.0   51.0      781.0
40080  40081      2020-06-12                 NaN  ...     130.0    5.0       42.0
...      ...             ...                 ...  ...       ...    ...        ...
40800  40801      2020-06-12           Zacatecas  ...     501.0   55.0      279.0
40801  40802      2020-06-12  Zakarpattia Oblast  ...    1506.0   38.0      675.0
40802  40803      2020-06-12   Zaporizhia Oblast  ...     515.0   15.0      322.0
40803  40804      2020-06-12            Zhejiang  ...    1268.0    1.0     1267.0
40804  40805      2020-06-12     Zhytomyr Oblast  ...    1013.0   17.0      527.0

[729 rows x 8 columns]

In [30]:
print(updated_data.shape[0])

729

In [46]:
pd.unique(updated_data['Country/Region'])

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Burma', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Central African Republic', 'Chad', 'Comoros',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Diamond Princess',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See',
       'Honduras', 'Hungary', 'Iceland', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Ivory Coast', 'Jamaica', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Korea', 'South Sudan',
       'Sri Lanka', 'Sudan', 'Suriname', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda',
       'United Arab Emirates', 'Uruguay', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Western Sahara', 'Yemen',
       'Zambia', 'Zimbabwe', 'Italy', 'Brazil', 'Russia', 'Mexico',
       'Japan', 'US', 'Canada', 'Colombia', 'Peru', 'Spain', 'India',
       'UK', 'Mainland China', 'Chile', 'Australia', 'Pakistan',
       'Germany', 'Sweden', 'Ukraine', 'Hong Kong', 'Macau'], dtype=object)

In [45]:
pd.unique(updated_data['Country/Region']).shape

(190,)

### **Task 3**
* Create a subset of data from the dataframe **updated_data**, only taking the top 10 countries which have the maximum number of confirmed cases with features - **'Country/Region', 'Confirmed', 'Deaths' and 'Recovered'**. Name this dataframe as 'top_10'

* print the name of the countries in 'top_10' dataset
* Which country has the lowest number of confirmed cases among the ten countries in top_10 dataframe?
Hint: use groupby() to group all the observations with same country, sum all the observations and then sort the dataframe by confirmed cases.

In [84]:
modified = updated_data.groupby('Country/Region').sum('Confirmed').sort_values(by='Confirmed', ascending=False).head(10)

In [86]:
modified

                    SNo  Confirmed    Deaths  Recovered
Country/Region
US              2351413  2048986.0  114669.0   547386.0
Brazil          1094094   828810.0   41828.0   445123.0
Russia          3365442   510761.0    6705.0   268862.0
India           1458478   297535.0    8498.0   147195.0
UK               607266   294402.0   41566.0     1282.0
Spain            808238   243209.0   27136.0   150376.0
Italy            851428   236305.0   34223.0   173085.0
Peru            1052718   214788.0    6088.0   107133.0
France           445634   193220.0   29377.0    72695.0
Germany          688860   187226.0    8783.0   171535.0

In [91]:
top_10 = modified[['Confirmed','Deaths', 'Recovered']]

In [93]:
top_10

                Confirmed    Deaths  Recovered
Country/Region
US              2048986.0  114669.0   547386.0
Brazil           828810.0   41828.0   445123.0
Russia           510761.0    6705.0   268862.0
India            297535.0    8498.0   147195.0
UK               294402.0   41566.0     1282.0
Spain            243209.0   27136.0   150376.0
Italy            236305.0   34223.0   173085.0
Peru             214788.0    6088.0   107133.0
France           193220.0   29377.0    72695.0
Germany          187226.0    8783.0   171535.0

In [104]:
print(top_10.index)

Index(['US', 'Brazil', 'Russia', 'India', 'UK', 'Spain', 'Italy', 'Peru',
       'France', 'Germany'],
      dtype='object', name='Country/Region')

In [106]:
print(top_10.index.tolist())

['US', 'Brazil', 'Russia', 'India', 'UK', 'Spain', 'Italy', 'Peru', 'France', 'Germany']

In [107]:
print(top_10.tail(1))

                Confirmed  Deaths  Recovered
Country/Region
Germany          187226.0  8783.0   171535.0

In [108]:
print(top_10.tail(1).index.tolist())

['Germany']

### **Task 4**
* Add two columns in 'top_10' dataframe - 'Recovered_percentage' and 'Deaths_percentage' 

where

'Recovered_percentage' = (Recovered cases / Confirmed cases) * 100

'Death_percentage' = (Deaths cases / Confirmed cases) * 100

* Print the top 3 countries with highest recovery precent

In [113]:
top_10['Recovered_Percentage'] = top_10['Recovered']/top_10['Confirmed'] * 100
top_10['Death_Percentage'] = top_10['Deaths']/top_10['Confirmed'] * 100

In [114]:
top_10

                Confirmed    Deaths  ...  Recovered_Percentage  Death_Percentage
Country/Region                       ...
US              2048986.0  114669.0  ...             26.714970          5.596378
Brazil           828810.0   41828.0  ...             53.706278          5.046754
Russia           510761.0    6705.0  ...             52.639493          1.312747
India            297535.0    8498.0  ...             49.471491          2.856135
UK               294402.0   41566.0  ...              0.435459         14.118790
Spain            243209.0   27136.0  ...             61.829949         11.157482
Italy            236305.0   34223.0  ...             73.246440         14.482554
Peru             214788.0    6088.0  ...             49.878485          2.834423
France           193220.0   29377.0  ...             37.622917         15.203913
Germany          187226.0    8783.0  ...             91.619220          4.691122

[10 rows x 5 columns]

In [117]:
top_10.sort_values(by='Recovered_Percentage', ascending=False).head(3)

                Confirmed   Deaths  ...  Recovered_Percentage  Death_Percentage
Country/Region                      ...
Germany          187226.0   8783.0  ...             91.619220          4.691122
Italy            236305.0  34223.0  ...             73.246440         14.482554
Spain            243209.0  27136.0  ...             61.829949         11.157482

[3 rows x 5 columns]

##**Scores**

Each of the tasks is of 5 mark each and the scores will be given accordingly after the notebook review.