<a href="https://colab.research.google.com/github/Advaiti/bert/blob/master/Pandas_Quiz_Dphi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np

In [23]:
ckd_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Chronic%20Kidney%20Disease%20(CKD)%20Dataset/ChronicKidneyDisease.csv")

In [24]:
ckd_data.head()

   id   age    bp     sg   al   su  ...   dm cad appet   pe  ane  classification
0   0  48.0  80.0  1.020  1.0  0.0  ...  yes  no  good   no   no             ckd
1   1   7.0  50.0  1.020  4.0  0.0  ...   no  no  good   no   no             ckd
2   2  62.0  80.0  1.010  2.0  3.0  ...  yes  no  poor   no  yes             ckd
3   3  48.0  70.0  1.005  4.0  0.0  ...   no  no  poor  yes  yes             ckd
4   4  51.0  80.0  1.010  2.0  0.0  ...   no  no  good   no   no             ckd

[5 rows x 26 columns]

In [9]:
ckd_data.dtypes.value_counts()

object     14
float64    11
int64       1
dtype: int64

In [10]:
ckd_data.classification.value_counts()

ckd       248
notckd    150
ckd\t       2
Name: classification, dtype: int64

In [13]:
data2 = ckd_data.loc[247:253, ["id", "age", "classification"]]

In [14]:
data2

      id   age classification
247  247  54.0            ckd
248  248  59.0            ckd
249  249  56.0            ckd
250  250  40.0         notckd
251  251  23.0         notckd
252  252  45.0         notckd
253  253  57.0         notckd

In [16]:
ckd_data.age.max()

90.0

In [17]:
ckd_data.age.min()

2.0

In [18]:
ckd_data.shape

(400, 26)

In [19]:
ckd_data.notnull().sum()

id                400
age               391
bp                388
sg                353
al                354
su                351
rbc               248
pc                335
pcc               396
ba                396
bgr               356
bu                381
sc                383
sod               313
pot               312
hemo              348
pcv               330
wc                295
rc                270
htn               398
dm                398
cad               398
appet             399
pe                399
ane               399
classification    400
dtype: int64

In [25]:
ckd_data.describe()

               id         age          bp  ...         sod         pot        hemo
count  400.000000  391.000000  388.000000  ...  313.000000  312.000000  348.000000
mean   199.500000   51.483376   76.469072  ...  137.528754    4.627244   12.526437
std    115.614301   17.169714   13.683637  ...   10.408752    3.193904    2.912587
min      0.000000    2.000000   50.000000  ...    4.500000    2.500000    3.100000
25%     99.750000   42.000000   70.000000  ...  135.000000    3.800000   10.300000
50%    199.500000   55.000000   80.000000  ...  138.000000    4.400000   12.650000
75%    299.250000   64.500000   80.000000  ...  142.000000    4.900000   15.000000
max    399.000000   90.000000  180.000000  ...  163.000000   47.000000   17.800000

[8 rows x 12 columns]

In [26]:
ckd_data.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [27]:
#Finding the mean of the column having NaN
median_value=ckd_data['bp'].median()
median_value
  
# # Replace NaNs in column S2 with the
# # mean of values in the same column
# gfg['G2'].fillna(value=mean_value, inplace=True)
# print('Updated Dataframe:')
# # print(gfg)

80.0

In [28]:

ckd_data['bp'].fillna(value=median_value, inplace=True)
ckd_data.describe()

               id         age          bp  ...         sod         pot        hemo
count  400.000000  391.000000  400.000000  ...  313.000000  312.000000  348.000000
mean   199.500000   51.483376   76.575000  ...  137.528754    4.627244   12.526437
std    115.614301   17.169714   13.489785  ...   10.408752    3.193904    2.912587
min      0.000000    2.000000   50.000000  ...    4.500000    2.500000    3.100000
25%     99.750000   42.000000   70.000000  ...  135.000000    3.800000   10.300000
50%    199.500000   55.000000   80.000000  ...  138.000000    4.400000   12.650000
75%    299.250000   64.500000   80.000000  ...  142.000000    4.900000   15.000000
max    399.000000   90.000000  180.000000  ...  163.000000   47.000000   17.800000

[8 rows x 12 columns]

In [30]:
ckd_data.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [31]:
ckd_data.notnull().sum()

id                400
age               391
bp                400
sg                353
al                354
su                351
rbc               248
pc                335
pcc               396
ba                396
bgr               356
bu                381
sc                383
sod               313
pot               312
hemo              348
pcv               330
wc                295
rc                270
htn               398
dm                398
cad               398
appet             399
pe                399
ane               399
classification    400
dtype: int64