<a href="https://colab.research.google.com/github/Advaiti/bert/blob/master/Python_Bootcamp_Graded_Hands_on_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Overview

Dear Learner, 

Congratulations, you have studied Python all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

Authors: Albana Celepija, Vinayak Deshpande

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [2]:
t =("python",)
T = t*5
print(T)
print(type(T))

('python', 'python', 'python', 'python', 'python')
<class 'tuple'>

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [3]:
s = "python"
ans = s[0:-1:2]
print(ans)
print(type(ans))

pto
<class 'str'>

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [4]:
elements = [5,7,4,9,2]
def lst_avg(l):
  a = sum(l)/len(l)
  return a
lst_avg(elements)

5.4

### Task 4
Write code to find if the given year is a leap year or not.

In [7]:
year = int(input("Enter a year: "))
if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

Enter a year: 1900
1900 is not a leap year

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [10]:
l = [21, 6, 12, 57, 35, 61]
l.sort()
print(l)
second_max = l[-2]
second_min = l[1]
print(second_max)
print(second_min)

[6, 12, 21, 35, 57, 61]
57
12

##Scores

Each of the tasks is of 2 mark each and the scores will be given accordingly after the notebook review.